/*Styling heading of upcoming movies*/
.heading-upcoming-movies {
    background: #ff9999;
    padding: 8px;
    text-align: center;
    font-size: 1rem;
}

/*Styling of scroll-bar for upcoming movies grid*/
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: grey;
}

/* Styling of movie poster in grid tiles */
.poster-of-movies {
    height: 100%;
    width: auto;
}