.back-link {
    margin-left: 24px;
    margin-top: 8px;
    margin-bottom: 0px;
    height: 24px;
    cursor: pointer;
}

.details-class {
    text-align: left;
}

.details-left {
    width: 20%;
    text-align: center;
}

.details-right {
    width: 20%;
}

.details-middle {
    width: 60%;
}

.margin-top-16 {
    margin-top: 16px;
}

.margin-bottom-16 {
    margin-bottom: 16px;
}

.centerAlign {
    text-align: center;
}

.font-bold {
    font-weight: bold;
}

.yellow-rating-color {
    color: yellow;
    cursor: pointer;
}

.black-rating-color {
    color: black;
    cursor: pointer;
}

.container-trailer {
    margin: 16px 0px 0px 0px !important;
}

.tile-grid {
    cursor: pointer;
}

.details-flex-container {
    display: flex;
}

.details-flex-container>div {
    margin: 0px 16px;
}

iframe {
    width: 100% !important;
}

@media (max-width: 992px) {
    .details-left {
        width: 100%;
        text-align: center;
    }
    .details-middle {
        width: 90%;
    }
    .details-right {
        width: 100%;
    }
    .details-flex-container {
        flex-direction: column;
    }
    .right-padding {
        margin-right: 32px;
    }
}